.notice-content {
  margin-top: 100px;
}

.notice-title {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.title-name {
  color: white;
}

.notice-content-btn {
  width: 600px;

  display: flex;
  justify-content: left;
  margin-right: 0;
  margin-left: auto;
}

// .notice-content-btn2 {
//   text-align: center;
// }
